@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --hearst-green: #8afd81;
  --hearst-dark: #0a0a0a;
  --hearst-gray: #1a1a1a;
}

body {
  background-color: var(--hearst-dark);
  color: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

